<%- include("partials/header") -%>

<h1>Compose</h1>
<br>

<form action="/compose" method = "post">
    <b>Title</b><br>
    <textarea name="input" id="" cols="100%" rows="1"></textarea>
    <br>
    <b>Post</b>
    <br>
    <textarea name="addpost" id="" cols="100%" rows="10"></textarea>
    <br><br><br>
    <button type="submit" style="background-color: rgb(126, 184, 230); border-radius: 7%; color: white; padding: 1px;">Publish</button>

</form>

