<%- include("partials/header") -%>

<h1>Delete</h1>
<br>

<form action="/delete" method = "post">
    <b>Title</b><br>
    <textarea name="input" id="" cols="100%" rows="1"></textarea>
    <br>
    
    <br>
    <button type="submit" style="background-color: rgb(126, 184, 230); border-radius: 7%; color: white; padding: 1px;">Publish</button>

</form>